[user]
  name = Sergio Ornelas <sergio.ornelas@nextiva.com>
  email = sergio.ornelas@nextiva.com
[core]
	editor = nvim
	excludesfile = /Users/sergioornelas/.gitignore
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true # use n and N to move between diff sections
  light = false
	side-by-side = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
