/configstore
/fish/completions
/fish/conf.d
/fish/fish_variables
/fish/fishd*
/fish/functions/__z*
/fish/functions/_autopair*
/fish/functions/_fzf*
/fish/functions/_nvm*
/fish/functions/_puffer*
/fish/functions/_sponge*
/fish/functions/_tide*
/fish/functions/fish_mode_prompt.fish
/fish/functions/fish_prompt.fish
/fish/functions/fisher.fish
/fish/functions/fzf_configure_bindings.fish
/fish/functions/nvm.fish
/fish/functions/sponge*
/fish/functions/tide
/fish/functions/tide.fish
/fish/themes
/fish/~
/karabiner/assets
/karabiner/automatic_backups
/kitty/kitty_grab
/nvim
/tmux/plugins
/tmux/resurrect
/zsh/.zcompcache
/zsh/.zcompdump
/zsh/.zsh_history
/zsh/.zsh_sessions
/zsh/plugins
