[user]
  name = Sergio Ornelas <sergio.ornelas.92@outlook.com>
  email = sergio.ornelas.92@outlook.com
[core]
	editor = nvim
	excludesfile = /Users/sergioornelas/.gitignore
  pager = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    features = decorations
	  side-by-side = true
    tabs=2
    line-numbers = false
    light = false
    ; plus-style = "syntax #034703"
    ; minus-emph-style = "syntax #FF4500"
    ; plus-emph-style = "syntax #208a20"
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[merge]
  conflictstyle = diff3
[diff]
    colorMoved = default
