/configstore
/fish/completions
/fish/conf.d
/fish/functions/tide
/fish/~
/fish/fish_variables
/fish/fishd*
/karabiner/automatic_backups
/nvim
/tmux/plugins
/tmux/resurrect
/zsh/plugins
/zsh/.zsh_sessions
/zsh/.zsh_history
/zsh/.zcompcache
/zsh/.zcompdump
